<h1><%= @p.title %>: Discussions</h1>

<% if @discussion.persisted? %>
  <h2 id="add_discussion_heading">Editing Discussion</h2>
<% else %>
  <h2 id="add_discussion_heading">Add a Discussion</h2>
<% end %>
<%= render "/discussions/form" %>


<div id="discussions">
  <% @discussions.each do |discussion| %>
    <%= render "/discussions/discussion", discussion: discussion %>
  <% end %>
</div>
